* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  font-family: inherit;
  border: none;
}
button {
  cursor: pointer;
  outline: none;
}
body {
  min-height: 100vh;
  font-size: 1.6rem;
}
.wrapper {
  background-color: #0c0c0c;
  width: 1270px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  display: flex;
}
.sidebar {
  width: 200px;
  padding: 20px 0;
  flex-shrink: 0;
  &-list {
    list-style: none;
    padding-left: 24px;
  }
  &-item {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
  &-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
.main {
  flex: 1;
  background-color: #1a1a1a;
  padding: 0 44px 20px;
}
.header {
  padding: 42px 0 32px 0;
}
.header-action,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-action {
  gap: 16px;
}
.header-change {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
}
.header-search {
  position: relative;
}
.search-btn {
  position: absolute;
  top: 10px;
  left: 13px;
}

.header-search input {
  border-radius: 12px;
  padding: 12px 84px 12px 54px;
  background: #ffffff0d;
  color: #ffffff;
}

.header-search input::placeholder {
  line-height: 1.5;
  color: #ffffffcc;
}
.banner {
  background: linear-gradient(
      180.35deg,
      rgba(0, 0, 0, 0) 0.3%,
      rgba(25, 25, 25, 0.74) 99.7%
    ),
    linear-gradient(0deg, rgba(231, 230, 225, 0.2), rgba(231, 230, 225, 0.2)),
    linear-gradient(95.66deg, #4f6185 0.23%, #709db4 100.74%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
  &-images {
    padding: 18px 19px;
  }
  &-musican {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }
  .sub-title {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.67;
    color: #ffffff99;
  }
  &-title {
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 1.25;
    color: #ffffff;
    text-shadow: 0px 0px 15px #7e9aae8c;
    margin-bottom: 4px;
  }
  &-desc {
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 0px 0px 15px #7e9aae8c;
    margin-bottom: 40px;
  }
}

.play {
  padding: 12px 41px;
  border-radius: 99px;
  background-color: #b77eee;
  color: #ffffff;
  font-weight: 700;
  border: none;
}

.recently {
  margin-bottom: 20px;
  &-heading {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.33;
    color: #ffffff;
  }
  &-item {
    cursor: pointer;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 20px;
  }
  &-thumb {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  &-name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
  }
  &-author {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #ffffff99;
  }
}
// control
.control {
  position: fixed;
  bottom: 0;
  background: #202022;
  width: 1270px;
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  &-info {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  &-thumb {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-title {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
  }
  &-auth {
    font-size: 1.2rem;
    line-height: 1.67;
    color: #ffffff99;
  }
}
.custom-volum,
.custom {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #e8e8e8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.custom {
  position: absolute;
  top: 0;
}
.control-volum {
  display: flex;
  align-items: center;
  gap: 10px;
}
.custom:hover {
  opacity: 1;
}
.custom-volum::-webkit-slider-thumb,
.custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #87a9ed;
  cursor: pointer;
}
.custom-volum::-moz-range-thumb,
.custom::-moz-range-thumb {
  width: 10px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
.control-play {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.control-icon {
  cursor: pointer;
  display: flex;
  width: 44px;
  height: 44px;
  background: transparent;
  border-radius: 50%;
}
.control-icon:nth-child(3) {
  background-color: #fff;
}

.control-icon:active {
  background: #fff;
}

.control-icon:nth-child(3) .playing {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 44px;
}
.control-icon:not(:nth-child(3)) {
  color: #fff;
}
.control-icon i {
  margin: auto;
}
.fa-pause {
  color: #0c0c0c;
}

.volumn-text {
  color: #fff;
}

.rotate {
  animation: rotate linear 8s infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.repeat.active,
.random.active {
  color: red;
}
